/Circle.class
/E01ByteFileCopy.class
/E02ByteBufferFileCopy.class
/E03FilterDataStream.class
/E06FileWriterStream.class
/E07FileReaderStream.class
/E08StringWriter.class
/E09StringReader.class
/E10PrintWriterStream.class
/E11ObjectSerializable.class
